<!-- 左侧侧边导航开始 -->
<div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
    <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">
        <!-- 左侧菜单 -->
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;" data-url="/admin/main/">
                    <i class="iconfont icon-home1" data-icon='icon-home1'></i>
                    <span>后台首页</span>
                </a>
            </li>
            <!-- 个人信息 -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-jiaoseguanli"></i>
                    <span>我的面板</span>
                    <em class="layui-nav-more"></em>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/admin/user/">
                            <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                            <span>个人信息</span>
                        </a>

                    </dd>
                </dl>
            </li>
            <!-- 内容管理 -->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-wenzhang1"></i>
                    <span>内容管理</span>
                    <em class="layui-nav-more"></em>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/admin/goods_list/">
                            <i class="iconfont icon-lanmuguanli" data-icon='icon-lanmuguanli'></i>
                            <span>产品列表</span>
                        </a>
                    </dd>
                </dl>
            </li>

        </ul>
    </div>
</div>

<!-- 左侧侧边导航结束 -->
