<!-- 顶部区域 -->
<div class="layui-header header header-demo">
    <div class="layui-main">
        <!-- logo区域 -->
        <div class="admin-logo-box">
            <a class="logo" href="http://www.kuxuebao.net" title="logo">后台管理系统</a>
            <div class="larry-side-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <!-- 右侧导航 -->
        <ul class="layui-nav larry-header-item">
            <li class="layui-nav-item">
                账户名：广州丹奇日化
            </li>
            <li class="layui-nav-item first">
                <a href="javascript:;">
                    <cite>默认站点</cite>
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">站点1</a>
                    </dd>
                    <dd>
                        <a href="">站点2</a>
                    </dd>

                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="login.html">
                    <i class="iconfont icon-exit"></i>
                    退出</a>
            </li>
        </ul>
    </div>
</div>